body {
    background-color: rgb(120, 177, 140);
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

#father {
    width: 500px;
    height: 280px;
    background-color: hsl(0, 0%, 100%);
    align-items: center;

}
#father1{
    width:500px;
    height: auto;
    border-collapse: collapse;
}
#father2{
    width: 500px;
    height: auto;
}
.fatherSize{
    margin: auto;
    border: 1px solid rgb(108, 58, 0);
    display: flex;
    justify-content: center;


}
.fontResult{
    font-size: 11px;
    font-weight: bold;
}
.fontSize{
    font-size: 15px;
}

#quantity{
    width: 61%;
}
#sizeNegative{
    display:flex;
    margin:3;
    justify-content: left;
    font-size: 12px;
}
#sizeA{
 margin-top: 2px;
 color : rgb(126, 13, 13);
}

#titleDate{
    font-size : 30px;
}
#titleSaved{
    font-size: 30px;
}

#saveData{
    margin-bottom: 15px;
}

#tableFirst{
    display: none;
    border-spacing: 0px;
    margin-top: 20px;
}
#tableSaved{
    display: none;
    border-spacing: 0px;
    margin-top: 20px;
}
#center{
    display: flex;
    justify-content: center;
    border-bottom:1px solid black;

}

th, td{
    border: 0.5px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

#deleteTable{
    width: 35px;
    height: 20px;
    margin-left: 70%;
}
#deleteTableSaved{
    width: 35px;
    height: 20px;
    margin-left: 70%;
}

#titleDiscounts{
  font-family: Arial, sans-serif;
  background-color: rgb(169, 93, 93);
  padding-left: 0px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 5px;
    border: 1px solid black;

}
#descuentos{
  position: absolute;
  background-color: white;
  width: auto;
  height: auto;
  border-collapse: collapse;
  display: none;
  border: 1px solid black;
}
.discountsSize{
  line-height: 10px;
  font-size: 13px;
  padding-left: 10px;

}
.selectSize{
  width: 33px;
  height: 20px;
  font-size: 13px;
}
#buttonDiscounts{
  margin-left: 27%;
}
